@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bree+Serif&family=Bungee+Shade&family=Josefin+Sans:wght@100;700&family=Kaushan+Script&family=Montserrat+Alternates:wght@100&family=Montserrat:wght@800;900&family=Oswald:wght@700&family=Prata&family=Roboto:wght@900&family=Rubik+Moonrocks&family=Russo+One&family=Ubuntu:wght@700&family=Yeseva+One&display=swap');
* {
	cursor: url("image/cursor2.png"), pointer;
}
/*body {
	background: url("image/hero-bg.jpg") no-repeat center center fixed;
	background-size: cover;
}*/
body {
	margin: 0;
	padding: 0;
	user-select: none;
	overflow-x: hidden;
	background: url("image/hero-bg.jpg") no-repeat center center fixed;
	background-size: cover;
}
/*.back {
	display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #1d1d1d;
	
    -webkit-background-size: cover;
    background-size: cover;
}*/
/*.logo {
	background: url("image/sindicat.png");
	width: 100px;
	height: 150px;
	margin-top: 10px 0 0 10px;
}*/
.text {
	display: block;
	text-align: center;
	justify-content: center;
	margin: 10% 0 0 0;

	font-family: 'Montserrat', sans-serif;
	color: #fff;
}
.text-intro2 {
	font-size: 75px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	user-select: none;  
}
.text-intro1 {
	font-size: 20px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;

	margin-bottom: -40px;
	user-select: none; 

	text-shadow:
		   0 0 5px #FFFFFF,
		   0 0 10px #FFFFFF,
		   0 0 20px #FFFFFF,
		   0 0 40px #08fdd8,
		   0 0 80px #08fdd8,
		   0 0 90px #08fdd8,
	       0 0 100px #08fdd8,
		   0 0 150px #08fdd8;
}
.button {
	color: #08fdd8;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	border: 2px solid #08fdd8;

	text-align: center;
	justify-content: center;
	padding: 20px 60px;
	box-shadow: inset 0 0 0 0 #08fdd8;
	transition: ease-out 0.7s;

}
.button:hover {
	box-shadow: inset 400px 0 0 0 #08fdd8;
	color: #000;
}

.line {
	/*background: url("image/item2.png");*/
	background-color: #181818;
	background-size: cover;
	width: 90px;
	height: 100px;
	position: fixed;
	top: 0;
	left: 0;
}

.menu-button {
	color: #808186;
	text-decoration: none;
	font-size: 20px;
	font-family: sans-serif;
	/*padding: 0 70px 0 70px;*/
	text-align: center;

	
}
.main-menu-button {
	margin: 20px 35px 0 35px;
	font-size: 30px;

	text-decoration: none;
	color: #808186;
	justify-content: center;
}
nav {
	justify-content: center;
	margin: 200px 0 0 -20px;
	/*justify-content: center;
	align-items: center;*/
}
ul li a:hover, .main-menu-button:hover{
	color: #08fdd8;
	transition: 0.3s;
	rotate: 45deg;
}
i {
	font-size: 60px;
	margin-top: 50px;
}
li {
	list-style: none;
}
.text-intro2:hover {

		/*text-shadow:
		   0 0 5px #FFFFFF,
		   0 0 10px #FFFFFF,
		   0 0 20px #FFFFFF,
		   0 0 40px #08fdd8,
		   0 0 80px #08fdd8,
		   0 0 90px #08fdd8,
	       0 0 100px #08fdd8,
		   0 0 150px #08fdd8;*/
    
    color: #08fdd8;
	transition: 0.3s;
}

/*.glamour1 {             <h3 class = "text-intro1"><p class = "glamour1">h1</p>W E  A R E  I N F I N I T Y.</h3>
	font-size: 10px;      h1 возле надписи we are infinity
	color: red;
	font-family: cursive;
	display: inline-block;
}
*/
 
/* Второй блок изображений */
/*.second-block {
	background-color: #1d1d1d;
	width: 100%;
	overflow-x: hidden;
	height: 1000px;
}*/

.back-2 {
    width: 100%;
    height: 100vh;

    background: url("image/back.png") center no-repeat fixed;
    background-size: cover;
    /*background: url("image/hero-bg.jpg") center no-repeat;*/
}
.my-portfolio {
	color: #08fdd8;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-weight: 700;
	margin: 50px 0 0 10%;
}
.work {
	font-size: 60px;
	color: #262626;
	font-weight: 300;
	margin: 0 0 0 10%;
}
.bitlo {
	color: #fff;
	margin-left: 10px;
	/*padding: 10px 20px;*/
	font-size: 20px;
	font-family: 'Josefin Sans', sans-serif;
	display: inline-block;
}
.bitlo:hover {
	/*padding: 10px 20px;*/
	color: #08fdd8;
	opacity: 0.7;
	transition: 0.9s;
}
/*.img-portfolio1, .img-portfolio2, .img-portfolio3, .img-portfolio4, .img-portfolio5, .img-portfolio6, .img-portfolio7, .img-portfolio8, .img-portfolio9, .img-portfolio10 {
	height: 200px;
	width: 20%;
	background: url("image/m1.png");
	background-size: cover;
	display: inline-block;
}*/
.row, .row1{
	display: flex;
	margin: 0 0 0 150px;
}
.row {
	margin: 20px 0 0 150px;
} 
.img-portfolio, .img-portfolio-ban {
	flex-grow: 5;
	height: 350px;
	background: url("image/m1.png");
	background-size: cover;
	margin: 1px;
	opacity: 0.7;
}
.img-portfolio:hover {
	display: block;
	opacity: 1;
	transition: 0.5s;
}
/*:hover, .img-portfolio2:hover {
	transition: 0.7s;
	opacity: 0.4;
}*/
.text-container {
	width: 100%;
	height: 100%;
	color: #fff;
}
.text-container small {
	display: none;
}
.text-container:hover small {
	transition: 0.5s;
	opacity: 1;
}
.text-opacity {
	visibility: hidden;
}
.text-opacity:hover {
	color: #000;
	font-size: 25px;

	visibility: visible;
	transition: 1s;
	transform:translatey(-160px);
}
/*.img-portfolio2 {    10 картинок
	margin-top: 200px;
}*/
.port {
	font-size: 60px;
	margin: 50px 0 0 150px;
	color: #08fdd8;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	/*display: inline-block;*/
}
.port:hover {
	transition: 0.6s;
	color: #fff;
}
/*.work {
	font-size: 100px;
	margin: 100px 0 0 550px;
	color: #262626;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	display: inline-block;
}*/
.text-block {
	display: inline-block;
}
.about-me {
	color: #fff;
	font-size: 20px;
	margin: 0 0 0 150px;
	font-family: 'Josefin Sans', sans-serif;
}
.see-more {
	position: relative;
	color: #08fdd8;
	font-size: 20px;
	text-decoration: none;
}
.see-more::before {
	content: '';
	position: absolute;
	left: 0; 
	bottom: -1px;
	width: 0;
	height: 1.5px;
	background-color: #08fdd8;
}
.see-more:hover:before {
	width: 100%;
}
.see-more::before {
	transition: width 0.35s;
}
.scroll-down {
	writing-mode: vertical-lr;
	color: #fff;
	margin: 100px 0 0 100px;
	font-size: 30px;
	font-family: 'Josefin Sans', sans-serif;
}
.scroll-down:hover {
	color: #08fdd8;
	transition: 0.5s;
}
.hover-text {
	position:absolute;
    left:0;
    bottom:0;
    right:0;
    background:rgba(255,255,255, 0.7);
    padding:20px;
    display:none;
}

.back-3 {
	width: 100%;
    height: 60vh;

    background: url("image/back.png") center no-repeat fixed;
    background-size: cover;
}
.pointer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
	width: 40px;
	height: 40px;
	background: rgba(0,0,0,0);
	border: 1px solid #08fdd8;
	border-radius: 50%;
	pointer-events: none;
	box-sizing: border-box;
}
.back-4 {
	width: 100%;
    height: 100vh;

    background: url("image/bg-3.png") center no-repeat fixed;
    background-size: cover;
    /*background: url("image/hero-bg.jpg") center no-repeat;*/
}
 /* Applying CSS to sphere */
 .tagcloud {
	display: inline-block;
	/*top: 100px;
	left: 32%;*/
	margin: -60% 0 0 70%;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Bebas Neue', cursive;
	font-size: 20px;
	
  }
  
  /* Change color of each text in sphere on hover   */
  .tagcloud--item:hover {
	color: #08fdd8 ; 
}
.me {
	font-size: 60px;
	margin: 250px 0 0 100px;
	/*margin: 50px;*/
	color: #08fdd8;
	font-family: 'Montserrat', sans-serif;
	/*font-weight: 600;*/
	display: inline-block;
	position: absolute;
	z-index: 9;
}
.sphere-block {
	display: inline-block;
}
.me-paragraph {
	font-size: 30px;
	margin: 350px 0 0 150px;
	/*margin: 50px;*/
	position: relative;
	width: 500px;
	height: 50px;
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	display: inline-block;
}
@media screen and (max-width: 1000px) { body.contentblock {width: 1000px;} }
@media screen and (max-height: 500px) { body.contentblock {height: 500px;} }